.slider-section{
    margin: 6rem 0;
}
.slider-container{
    gap: 5vw;
    padding-top: 10rem;
    padding-left: 15vw;
    padding-right: 3rem;
    position: relative;
    display: flex;
    transition: 1s;
}

.slider-container::-webkit-scrollbar{
    display: none;
}

.heading{
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 2rem;
}

 .slider-word{
    padding: 0.5rem 1rem;
    display: inline-block;
    background-color: rgb(193, 235, 193);
    border-radius: 2rem;
    margin:0 1rem;
    color: green;
}

.slider-icon{
    display: inline-block;
    padding-right: 0.5rem;
    vertical-align: middle;
}
.letter{
    transform: translateY(2rem);
    transition: 0.5s;
}

.slider-controls{
    padding-left: 15vw;
    padding-top: 2rem;
    display: flex;
    gap: 1rem;
}

.slider-controls-icon{
    border-radius: 50%;
    padding: 0.5rem;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    background-color: #afd6ea;
}